.header {
    height: 95vh; /*vh ini mirip dengan persen*/
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 80%,
      0 100%
    ); /*membuat background memiliki pola potongan tertentu*/
    position: relative;
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  
    &__logo {
      height: 3.5rem;
    }
  
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(
        -50%,
        -50%
      ); /*Pergeseran posisi terhadap posisi object, bukan terhadap parent element*/
      text-align: center;
    }
  }