@keyframes moveLeft {
    0% {
      /*ini merupakan posisi awal*/
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    80% {
      transform: translateX(1rem);
    }
  
    100% {
      /*ini merupakan posisi akhir*/
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveRight {
    0% {
      /*ini merupakan posisi awal*/
      opacity: 0;
      transform: translateX(10rem);
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      /*ini merupakan posisi akhir*/
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      /*ini merupakan posisi awal*/
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      /*ini merupakan posisi akhir*/
      opacity: 1;
      transform: translate(0);
    }
  }