
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* digunain buat menghilangkan efek shaking pada animation*/
    padding-bottom: 6rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveLeft; /*nama animation sesuai yang ada pada @keyframe*/
      animation-duration: 1s;
      animation-timing-function: ease-out; /*animasi bergerak cepat diawal kemudian melambat diakhir*/
      /* animation-delay: 3s; digunain untuk membuat delay pada animation */
      /* animation-iteration-count: 2; digunakan untuk berapa kali perulangan animasinya */
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveRight 1s ease-out 1s;
      animation-fill-mode: backwards;
    }
  }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700; 
  background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s;

  &:hover { 
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}