.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
} 

.section-features {
    padding: 20rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-7deg);

    &>* {
        transform: skewY(7deg);
    }
}

.section-tours {
    margin-top: -10rem;
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;

}

.section-stories{
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}